.breadcrumb {
    display: flex;
    list-style: none; 
    padding: 0;
    padding-top: .7rem;
    margin: 0;
  }
  
  .breadcrumbItem {
    text-decoration: none;
    color: black;
    opacity: 0.6;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
  }
  
  .breadcrumbItem a {
    margin: .7rem; 
    text-decoration: none; 
    color: gray; 
    cursor: pointer;
  }
  
  .breadcrumbItem span {
    margin: .7rem; 
    color: black;
    font-size: 17px
  }