.basketContentContainer {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure the container takes the full height of the screen */
}

.topRow {
  display: flex;
  padding: 1.5rem 0;
  margin-bottom: 2rem;
}

.mainContent {
  display: flex;
  flex: 1; 
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding: 0;
}

.isEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 50%;
  row-gap: 1.5rem;
}

.isEmptyText {
  font-size: 1.5rem;
}

.basketSummary {
    margin-top: 20px;
    text-align: right;
  }
