.cardContainer {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s, box-shadow 0.2s;
}

.cardContainer:hover {
  transform: scale(1.05);
  /* transform: translateY(-5px);     */
}

.textContainer {
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.textContainer * {
  margin: 0;
}
