.cardContainer {
    width: 100%; 
    flex: 0 1 calc(25% - 2.5rem);
    height: 17rem; 
    margin: 0;
    border-radius: 12px; 
    overflow: hidden; 
    background-size: cover; /* Cover the entire card with the image */
    background-position: center; 
    position: relative;
    cursor: pointer; 
  }

  .cardOverlay {
    position: absolute; 
    padding: 1.5rem;
    justify-content: flex-start;
    align-items: flex-end;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background: rgba(0, 0, 0, 0.4);
    display: flex; 
    transition: opacity 0.3s ease;
  }

  .cardContainer:hover .cardOverlay {
    opacity: 0; 
  }
  
  .title {
    color: #fff; 
    font-size: 2.2rem; 
    margin: 0; 
  }