.cardContainer {
    width: 100%;
    flex: 0 1 calc(50% - 2.5rem);
    height: 7rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.3); 
    color: #4A4A4A;
  }
  
  .cardOverlay {
    position: absolute;
    padding: 1rem;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    opacity: 1;
    transition: 0.3s ease;
  }
  
  .cardContainer:hover .cardOverlay {
    background: white;
    border: none;
  }
  
  .titleContainer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  .title {
    font-size: 1.7rem;
    margin: 0;
  }
  
  .text {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  