.modalContainer {
  background-color: #fff;
  padding: 2.5rem 3.5rem;
  border-radius: 0.5rem;
  max-width: 40rem;
  width: 100%;
  box-shadow: 0rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
  position: relative;
}

.outer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(0.5rem);
  background-color: rgba(0, 0, 0, 0.3);
  padding-bottom: 6.5rem;
  height: 100vh;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.7rem;
  margin-bottom: 1.5rem;
}

.headerTitle {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.5rem;
  font-family: "Unbounded";
}

.comment {
  font-size: 1rem;
  color: black;
  font-family: "Unbounded";
}

.content {
  padding: 2rem 0rem;
  overflow: auto;
  flex: 1;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
  margin-top: 3rem;
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.actions button {
  margin-left: 1rem;
}

.close {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
