.container {
    padding: .8rem 2.2rem;
    color: black;
    background-color: #fff;
    font-size: 18px;
    border: transparent;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    white-space: nowrap; 
}

.container:hover {
    background-color: #F2EDE2;
}

.active {
    background-color: black;
    color: #fff;
}

.active:hover {
    background-color: black;
}

.basket {
    color: #fff;
    background-color: #929079;
}

.isAttention {
    background-color: #E73D00;
    color: #fff;
    font-size: 1.2rem;
    font-family: "Unbounded";
}