.contentContainer {
    padding: 3rem;
    max-width: 800px;
  }
  
  .section {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }
  
  .section h2 {
    margin-bottom: 1rem;
  }

  .section div {
    display: flex;
   flex-direction: column;
    row-gap: 1rem;
  }

  .basketText {
    width: fit-content;
    display: flex;
    gap: 2rem;
  }
  
  