/* Main container styling */
.categoriesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

/* Introduction Section */
.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 60vw;
  margin-bottom: 10rem;
}

.mainTextContainer {
  flex: 1;
  max-width: 30vw;
}

.mainTextContainer span {
  display: block;
  font-size: 1.2rem;
  color: #4A4A4A;
  line-height: 1.5;
}

.mainTextContainer div {
  margin-top: 1rem;
}

.btnContainer {
  margin-top: 2rem;
}

.mainImageContainer {
  flex: 1;
  height: 70vh;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
}

/* Shop By Category Section */
.container {
  width: 100%;
  max-width: 80vw;
  text-align: center;
  margin-top: 2rem;
}

.sectionTitle {
  font-size: 2rem;
  font-weight: 200;
  color: #4A4A4A;
  margin-bottom: 3.5rem;
}

.sectionContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

/* Category Card Styling */
.cardContainer {
  flex: 0 1 calc(25% - 2rem);
  height: 250px;
  border-radius: 12px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.cardContainer:hover .cardOverlay {
  opacity: 0;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: 400;
  color: #37241D;
}

/* Button Styling */
.btnContainer button {
  margin-top: 2rem;
  font-size: 1rem;
}

.btnContainer button:hover {

}
